.img {
  width: 20%;
  margin: 50px 0 50px 0;
}
.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
